.sixth-section{
    padding-top: 10vh;
}
.sixth-section h2{
    font-size: 4rem;
    font-weight: 600;
    margin-top: 5vh;
    margin-bottom: 8vh;
}
.sixth-container{
    color: white; 
    display: grid;
    grid-template-columns: 45% 25% 25%;
    grid-template-rows: 45vh 45vh;
    gap: 25px;
}
.sixth-container h3{
    font-weight: 500;
    font-size: 3rem;
}
.sixth-left{
    background-image: url("../../assets/images/ps5.png");
    background-color: #0d0d0d;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 5px;
    padding: 5vh;
    display: flex;
    justify-content: end;
    flex-direction: column;
    grid-row: 1 / span 2;
}
.sixth-container p{
    width: 60%;
    margin: 2vh 0;
    text-align: left;
    color: rgb(201, 200, 200);
    line-height: 2.2rem;
    font-size: 1.2rem;
}
.sixth-section a{
    color: rgb(201, 200, 200);
    text-decoration: underline;
    transition: .2s ease;
}
.sixth-section a:hover{
    color: white;
}
.sixth-right-top{
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 2;
    justify-content: end;
    padding: 5vh;
    background-image: url("../../assets/images/woman.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 80%;
    border-radius: 5px;
}
.sixth-right-top p{
    width: 50%;
    font-size: 1.2rem;
}
.sixth-right-bottom-1{
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5vh;
    border-radius: 5px;
    background-image: url("../../assets/images/speakers.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.sixth-right-bottom-1 p, .sixth-right-bottom-2 p{
    width: 100%;
    margin: 1.3vh 0;
    font-size: 1.2rem;
}
.sixth-right-bottom-1 a, .sixth-right-bottom-2 a{
    font-size: 1.3rem;
}
.sixth-right-bottom-2{
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5vh;
    border-radius: 5px;
    background-image: url("../../assets/images/perfumes.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}